.header{
    height: 80px;
    width: 100%;
    background: #fff;
    
    .header-top{
        height: 40px;
        border-bottom: 1px solid #1da57a;
        span{
            margin-right:10px;
        }
    }
    .header-bottom{
        display: flex;
        align-items: center;
        .header-bottom-left{
            text-align: center;
            width: 35%;
        }
        .header-bottom-right{
            width:75%;
            text-align: right;
            margin-right: 20px;
            font-size: 13px;
            img{
                margin: 0 15px;
                width:30px;
                height: 20px;
            }
        }
    }
}